.DS_Store
.Rproj.user
.Rhistory
/asm.cls
/msystems.bst
/jabbrv.sty
/jabbrv-ltwa-all.ldf
/jabbrv-ltwa-en.ldf
/template.aux
/template.log
/template.tex
/template.html
/template-aft.qmd
/template-aft.pdf
/template_files/
/template.pdf
